@charset "ISO-8859-1";

.login{
  border: 0.25px solid green;
  padding: 20px 30px 20px 30px;
        width:520px;
  position: static;
}
.Register{
  border: 0.25px solid green;
  padding: 20px 30px 20px 30px;
        width:520px;
 
}
h1{
  
    background-color: #DCDCDC;
    border-color: #DCDCDC;
}

.Aflogin{
        
       
        font-size: 40px
      
      }
      
#button{
        padding: 20px 30px 20px 30px;
        width:500px;
        position: static;
        font-size: 40px
              color: #fff;
    
    background-color: #228B22;
    border-color: #228B22;
}
      #b{
        width: 500px;
        height: 55px;
        margin: 5px 0 10px;
      }
         
     div {
    display: block;
}
         
     