@charset "UTF-8";
/*Kiến trúc tiles*/
/*Header*/
* {
    margin:0;
    padding:0;  
    box-sizing: border-box;
}
html{
    font-family: Helvetica, Arial, sans-serif;
}
#header{
    border-bottom: 1px solid rgb(180, 180, 180);  
    background-color: rgb(240, 240, 240);
    height: 50px;
    display: flex;
    justify-content: space-between;
}
#header > div{
    line-height: 50px;
}
#divCMS{
    color: rgb(80, 80, 80);
    width: 50px;
    padding-left: 10px;
    text-transform: uppercase;
}
#divUser{
    position: relative;
    width: 45px;
}
#nav{
    visibility: hidden;
    list-style-type: none;
    position: absolute;
    margin-left: -105px;
    width: 150px;
}
#nav li{
    background-color: #fff;
}
#liProfile{
    border: rgb(180, 180, 180) solid 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#liLogout{
    border: rgb(180, 180, 180) solid 1px;
    border-top: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}
#divUser:hover,#nav li:hover {
    background-color: rgb(200, 200, 200);
}
#nav li a{
    color: #000;
    display: inline-block;
    height: 50px;
    width: 148px;
    text-decoration: none;
    line-height: 50px;
}
#liProfile a{
    padding-left: 20px;
    padding-right: 20px;
}
#liLogout a{
    padding-left: 20px;
    padding-right: 55px;
}
#nav li svg{
    padding-top:5px;
    margin-right: 2px;
}
/*Left Menu*/
#divMenu{
  background-color: rgb(240, 240, 240);
  border-right:  1px solid rgb(180, 180, 180);
  height: calc(100vh - 50px);
  width: 15vw;
  min-width: 150px;
}
#divSearch{
  height: 60px;
  width: 100%;
  padding-top: 12.5px;
  padding-left: 16px;
}
.floatSearch{
  float:left;
}
#divSearch>form>input{
  border: 1px solid rgb(180, 180, 180);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 10px;
  height: 35px;
  width: 75%;
}
#divSearch::placeholder{
  color:grey;
}
#divSearch>form>button{
  height: 35px;
  width: 15%;
  border: 1px solid rgb(180, 180, 180);
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: white;
  
}
.menuContent{
  border-top: 1px solid rgb(200, 200, 200);
  height: 40px;
}
#divFormContent{
  border-bottom: 1px solid rgb(200, 200, 200);
}
#divViewContent{
	width:100%;
}
#divViewContent>a, #divFormContent>a{
  width: 250px;
  display: inline-block;
  color: hsl(220, 100%, 40%);
  text-decoration: none;
  line-height: 40px;
  padding-left: 10px;
}
#divViewContent>a>svg,#divFormContent>a>svg{
  padding-top: 1px;
  padding-right: 2px;
}
/*Hết Left Menu*/
/*Definepage*/
#divInline{	
	display: flex;
}
#divBody{
	margin-top: 40px;
	margin-left: 30px;
}
/*Hết Kiến trúc tiles*/
/*View + Search content Form*/
.load5s{
    visibility: hidden;
}
.forceHidden{
    visibility: hidden;
}
.form-title
{
    display: flex;
    justify-content: space-between;
}
#titleViewContent{
	font-size:45px;
	margin-bottom:8px;
}
.form-title #notification
{
    margin-top: 2%;
    font-size: 20px;
}
#hrViewContent{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
    height:0.5px;
    width: 80vw;
    min-width: 780px;
    border-width:0;
    color:gray;
    background-color: rgba(210, 210, 210,0.5);
}
#flexContentContainer{
    width: 80vw;
    min-width: 780px;
    padding-top:0px;
    padding-left:0px;
    border: 1px solid rgb(180, 180, 180);
    border-top: 0;
    border-radius: 3px;
}
#flexSearchContainer{
    width: 80vw;
    min-width: 780px;
    padding-top:0px;
    padding-left:0px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 3px;
}
#divViewContentList{
    background-color: rgba(210, 210, 210,0.3);
    border-top:1.5px solid rgb(180, 180, 180);
    border-bottom: 1.5px solid rgb(180, 180, 180);
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
table{
    margin-top: 20px;
    width: 98%;
    margin-left: 1%;
    margin-bottom: 15px;
}
table,th,tr,td{
    border:1px gray;
    border:solid rgb(180, 180, 180) thin;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 17px;
}
tr{
    height: 60px;
}
td>div{
    height: 30px;
    width: 100%;
}
#trHeader{
    height: 40px;
}
.marginLeftHeader{
    padding-left: 10px;
}
#briefContent{
    padding: 0;
    padding-top: 10px;
    padding-left: 10px;
}
#briefContent>textarea{
    border: none;
    resize: none;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    height: 100%;
    width: 100%;
}
.centerHeader{
    text-align: center;
}
tr:nth-child(even) {
    background-color: rgba(210, 210, 210,0.3);
}
#divNextPreviousPage{
    margin: auto;
    width: 25%;
    height:40px;
}
.formatButton{
    border:none;
    border-radius: 2px;
    color: #fff;
    background-color: #28a745;
   	height:30px;
  	width:30px;
}
.formatButton > a{
	text-decoration: none;
    color: #fff;
}
.buttonTable{
	width:45px;
}
#numberOfPage{
	margin-left:5px;
	margin-right:5px;
	font-size:20px;
	line-height:30px;
}
/*Hết View + Search content Form*/

/* login */


#image{
	 margin-top: -10px;
	padding-left: 10px;
}
.g-signin2{
    padding: 20px ;
   
    
        
}
.error{
    display: flex;
    color:red;
}
.rememberme{
    padding: 10px 0 0;
}
.Login{
    margin-top: 12%;
    margin-left: 35%;
    margin-right: 35%;
    min-width: 430px;

}
.AfLogin{

    border: 1px solid grey;
    border-radius: 2px;
    width: 98%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.titlelogin{

    padding: 20px;
    font-size: 20px;
    width: 100%;
    background: rgb(240, 240, 240);
    border: 0px solid grey;
    border-radius: 2px;
}

.inputsubmit{
    padding: 20px 30px 20px 30px;
    width:90%;
    position: static;
    font-size: 40px;
    color: #fff;
    border: 0px solid grey;
    border-radius: 6px;
    background-color: green;
    border-color: green;
    margin-top: 20px;
}
.inputloginb{
    width: 90%;
    height: 45px;
    margin: 10px 0 10px;
    border: 0.5px solid lightgrey;
    border-radius: 4px;
    padding-left: 10px;
}

.inputform{
    margin-left:20px
}
.rowlogin{
    display: flex;

    min-height: 30px;
    min-width: 75%;

}
.inputloginc {
    text-decoration: none;
    font-size: 25px;
    margin-top: 15px;
    color:#0086b3;
}
/* regis */
.Register{
    margin-top: 9%;
    margin-left: 31%;
    margin-right: 31%;
    min-width: 430px;

}
.AfRegis{

    border: 1px solid grey;
    border-radius: 2px;
    width: 98%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.registerinput{
    border: 0.5px solid lightgrey;
    border-radius: 4px;
    padding-left: 10px;
    width: 90%;
    min-height: 45px;
    margin: 10px 0 10px;
}
.titleregis{

    padding: 20px;
    font-size: 20px;
    width: 100%;
    background: rgb(240, 240, 240);
    border: 0px solid grey;
    border-radius: 2px;
}

.registersubmit{
    padding: 20px 30px 20px 30px;
    width:90%;
    position: static;
    font-size: 40px;
    color: #fff;
    border: 0px solid grey;
    border-radius: 6px;
    background-color: green;
    border-color: green;
    margin-top: 20px;
}



.rowregis{
    display: flex;

    min-height: 35px;
    min-width: 75%;

}
.registera{
    text-decoration: none;
    font-size: 25px;
    margin-top: 15px;
    color:#0086b3;
}
/* editprofile*/
.titleedit{
    width:82vw;

    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #b3b3b3 ;
    font-weight: bold;
    padding-bottom: 10px;
}
.divProfilefrom{

    padding: 20px;
   
    font-size: 20px;
    width: 80.94vw;
    background: rgb(240, 240, 240);
    border: 0px solid grey;
    border-radius: 2px;
    
}
.Editprofile{
    margin-top: 25px;
    /* height:600px; */
    border: 1px solid grey;
    border-radius: 2px;
    width: 80vw;
    font-family: Arial, Helvetica, sans-serif;

}

.buttoneditpro1{
   
  
  color: black;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 0.5px solid #28a745; ;
  border-radius: 4px;
  background-color: #28a745;
  
  padding: 10px;
  margin-left:20px;
  margin-top: 10px;
  color :#fff;
  margin-bottom: 20px;
}

.buttoneditpro2{
    color: black;
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    border: 0.5px solid #28a745; ;
    border-radius: 4px;
    background-color: #28a745;
    color :#fff;
    
  
    
    
  }
.displayemail{
    padding-top:  15px;
}
.inputeditb{
    border: 0.5px solid #b3b3b3 ;
    border-radius: 4px;
    padding-left: 10px;
    width: 72vw;
    height: 42px;
}
.inputedita{
    padding-top: 18px;

}
.rowedit{
    display: flex;

    min-height: 42px;
    min-width: 72vw;

}
.inputformedit{
    margin-left:20px;

    margin-bottom: 10px;
}
.inputdes{
    height: 100px;
    border: 0.5px solid #b3b3b3 ;
    border-radius: 4px;
    padding-left: 10px;
    width: 72vw;
    padding-top: 3px;
}

/*Add, edit content*/
.load5s{
    visibility: hidden;
	}
		#divBody
		{
			margin-top: 40px;
			margin-left: 30px;
			width: 200%;
		}
	 *{
		 padding: 0;
		 margin: 0;
		 box-sizing: border-box;
		 font-family: Arial, Helvetica, sans-serif;
		 zoom: 100%;
	 }
	.container
	{
		display: block;
		max-width: 100%;
		height: auto;
	}

	.form-title
	{
		font-family: Arial, Helvetica, sans-serif;
		border-bottom: 1px solid lightgrey;
		/* border: 1px solid lightgrey; */
		width: 73%;
		height: 50px;
		justify-content: space-between;
		display: flex;
		flex-direction: row;
	}
	.form-title .form-notification
	{
		font-family: Arial, Helvetica, sans-serif;
		color: red;
		margin-top: 2%;
	}
	.container form .title
	{
		width:78%;
		height: 90px;
		margin-top:10px;
		margin-left: 20px;
		/*border: 1px solid black;*/
		display: flex;
		flex-direction: column;
		font-family: Arial, Helvetica, sans-serif;

	}
	.container form .title ::placeholder{
		color: lightgray
	}
	.container form .title input
	{
		margin-top: 5px;
		height: 40px;
		padding: 10px;
	}

	.container form .title .title-label
	{
		display: flex;
		justify-content: space-between;
	}

	.container form .title .title-label .title-input-notification
	{
		color: red;
	}

	.container form .brief
	{
		width:78%;
		margin-left:20px;
		/*border: 1px solid red;*/
		display: flex;
		flex-direction: column;
		font-family: Arial, Helvetica, sans-serif;
	}
	.container form .brief textarea
	{
		height: 100px;
		margin-top: 5px;
		padding: 10px;
		font-family: Arial, Helvetica, sans-serif;
	}
	.container form .content
	{
		width:78%;
		margin-left:20px;
		/* border: 1px solid green;  */
		display: flex;
		flex-direction: column;
		font-family: Arial, Helvetica, sans-serif;
	}
	.container form .content textarea
	{
		height: 220px;
		margin-top: 5px;
		margin-bottom:15px;
		padding: 10px;
		font-family: Arial, Helvetica, sans-serif;
	}
	.container form .form-control
	{
		margin-bottom: 20px;
	}
	.container
	{
		margin-top: 5px;
		/* background: #71b7e6; */
		border: 2px black;
	}
	.container form
	{
		margin-top: 20px;
		margin-bottom: 20px;
		/* height:600px; */
		border: 1px solid grey;
		border-radius: 2px;
		width: 73%;
	}
	.container form .content-form-elements
	{
		font-family: Arial, Helvetica, sans-serif;
		padding: 10px;
		width:100%;
		background: rgb(240, 240, 240);
		/* border: 1px solid black; 		 */
	}
	.container form .content-form-elements .content-form-elements-title
	{
		margin-left: 10px;
	}
		.container form .btn
		{
			margin-left: 10px;
			margin-bottom: 8px;
			font-size: 15px;
			font-family: Arial, Helvetica, sans-serif;
			height: 4%;

			width: 35%;
			justify-content: left;
			display: flex;
		}
		.container form .btn button
		{
			justify-content: center;
			text-align: center;
			border:none;
			height: 85%;
			line-height: 30px;
			border-radius:3px;
			color: #fff;
			background-color: #28a745;
		}
		.container .reset-btn
		{
			justify-content: center;
			text-align: center;
			border:none;
			height: 85%;
			line-height: 30px;
			border-radius:3px;
			color: #fff;
			background-color: #28a745;
		}
